.box-profile {
  width: 50%;
  height: 50%;
  border-radius: 100%;
  overflow: hidden;
  align-items: flex-start;
  border: none;
}

.profileform {
  display: inline-flex;
}

.profileDiv{
  border-radius: 1rem;
  border: solid 1px #000;
  width: 50%;
  height: auto;
  display: inline-block;
}

.profiletext{
  text-align: left;
}